// alizarin
.bg-red {
    background: #E74C3C;
}

// carrot
.bg-orange {
    background: #E67E22;
    // background: #F39C12;
}

// pumpkin
.bg-dark-orange {
    background: #D35400;
}

.bg-emerald {
    background: #2ECC71;
}

.bg-blue {
    background: #3498DB;
}

.bg-royal {
    background: #304ffe;
}

.bg-turquoise {
    background: #1ABC9C;
}

.bg-dark-turquoise {
    background: #16A085;
}

.bg-yellow {
    background: #F1C40F;
}

// amethyst
.bg-purple {
    background: #9B59B6;
}

.bg-hotpink {
    background: hotpink;
}

.bg-charcoal {
    background: #34495E;
}