// alizarin
.bg-red {
    background: #E74C3C;
}

// carrot
.bg-orange {
    background: #E67E22;
}

// pumpkin
.bg-dark-orange {
    background: #D35400;
}

.bg-emerald {
    background: #2ECC71;
}

.bg-blue {
    background: #2ECC71;
}